* {
    margin: 0.5rem;
    
}

.calculator {
    height: 25rem;
    width: 22rem;
    border: 2px solid black;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
    
    }
    .calculator__buttons {
        flex-basis: 25%;
    } 
    //<-
}

.display-output {
width: 19.5rem;
height: 8rem;
background-color: slategray;
color: whitesmoke;
border: 2px solid black;
border-radius: 0.5rem; 

display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-around;
word-wrap: break-word;
word-break: break-all;
}



input {
    height: 6rem;
    width: 20rem;
    border-radius: 0.5rem;
}

button {
    height: 2rem;
    width: 4rem;
    border-radius: 0.5rem;

    justify-content: space-evenly;
}
button:hover {
    background-color: darkgray;
    color: white;
}